<div class="min-h-screen flex flex-col bg-slate-50 text-slate-900 selection:bg-brand-500 selection:text-white">
  <!-- Top Navigation (Storefront) -->
  @if (!isAdminRoute()) {
    <app-navbar></app-navbar>
  }

  <!-- Main View Area -->
  <main class="flex-1 flex flex-col">
    <router-outlet></router-outlet>
  </main>

  <!-- Global Footer (Storefront) -->
  @if (!isAdminRoute()) {
    <app-footer></app-footer>
  }

  <!-- Global Notification Toasts -->
  <app-notification-toast></app-notification-toast>
</div>
